.bar {
    fill: #118a74; /* changes the background */
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    border-radius: "10px";
    background-color: red;
  }
  .bar text {
    color: black;
  }
  .bar:hover,
  .bar:focus {
    fill: black;
  }
  .bar:hover text,
  .bar:focus text {
    fill: #118a74;
  }

.chart {
    margin: 5vmin;
}

.line {
  stroke:#c7e5ee;stroke-width:4
}

text {
  font-size: 1.2em;
}